<!DOCTYPE html>
<html>
<h2>Lines Matching Search Results: </h2>

<head>
    <link rel="icon" type="image/png" href="C:\Users\test_program_normalized\test_program_normalized\templates\favicon.ico.jpg" />
    <title>Fsans Line Results</title>
    <meta charset = "UTF-8">
  </head>

<body>
    <p></p>
    <a href="/data.csv">Download Results</a>
    <p></p>
    </body>
   
<table class="sortable">
    <thead>
        <tr>
            <th>
            #
            </th>
            <th>
            Run
            </th>
            <th>
            Observatory
            <th>
            Week
            </th>
            <th>
            Channel
            </th>
            <th>
            Frequency
            </th>
            <th>
            Coherence
            </th>
        </tr>
    </thead>
    <tbody></tbody>
        {% for line in dlines %}
        <tr class="item">
        <td>
            {{ line.id }}
        </td>
        <td>
            {{ line.run }}
        </td>
            <td>
            {{ line.obs }}
        </td>
        <td>
            {{ line.week }}
        </td>
        <td>
            {{ line.channel }}
        </td>
        <td>
            {{ line.freq }}
        </td>
        <td>
            {{ line.coh }}
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</html>
<!DOCTYPE html>
<html>
<h2>Lines Matching Search Results: </h2>

<head>
    <link rel="icon" type="image/png" href="C:\Users\test_program_normalized\test_program_normalized\templates\favicon.ico.jpg" />
    <title>Fsans Line Results</title>
    <meta charset = "UTF-8">
  </head>

<body>
    <p></p>
    <a href="/data.csv">Download Results</a>
    <p></p>
    </body>
   
<table class="sortable">
    <thead>
        <tr>
            <th>
            #
            </th>
            <th>
            Run
            </th>
            <th>
            Observatory
            <th>
            Week
            </th>
            <th>
            Channel
            </th>
            <th>
            Frequency
            </th>
            <th>
            Coherence
            </th>
        </tr>
    </thead>
    <tbody></tbody>
        {% for line in dlines %}
        <tr class="item">
        <td>
            {{ line.id }}
        </td>
        <td>
            {{ line.run }}
        </td>
            <td>
            {{ line.obs }}
        </td>
        <td>
            {{ line.week }}
        </td>
        <td>
            {{ line.channel }}
        </td>
        <td>
            {{ line.freq }}
        </td>
        <td>
            {{ line.coh }}
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</html>

