<!DOCTYPE html>
<html>
{% from "_formhelper.html" import render_field %}

<head>
  <title>Fscans Line Search</title>
  <meta charset = "UTF-8">
</head>

<h2>Fscans Line Search:</p></h2>

<b><p style="color:red">{{ errormessage }}</p></b>
<i><p style="color:red">{{ helpmessage }}</p></i>

<form method=post>
  <b>Choose a temporal range:</b>
  <br><input type="radio" id="Weekly" name="Weekly" value="Weekly">
  <label for="Weekly">Weekly</label>
  <input type="radio" id="Monthly" name="Monthly" value="Monthly">
  <label for="Monthly">Monthly</label><br>

  <br><b>Choose an observatory:</b>
  <br><input type="checkbox" id="H1" name="H1" value="H1">
  <label for="H1"> Hanford, WA (H1)</label><br>
  <input type="checkbox" id="L1" name="L1" value="L1">
  <label for="L1"> Livingston, LA (L1)</label><br>

  <br><label for="run">Choose a run:</label>
  <select name="run" id="run">
      <option value="E3B">E3B</option>
      <option value="O3B">O3B</option>
  </select>
  
    <dl>
      <table>
      {{ render_field(form.startTime) }}
      {{ render_field(form.endTime) }}
      {{ render_field(form.channel) }}
      {{ render_field(form.frequb) }}
      {{ render_field(form.freqlb) }}
      {{ render_field(form.cohub) }}
      {{ render_field(form.cohlb) }}
      </table>
    </dl>
    <p><input type=submit value=Search></p>
  
  <label for="sorting">Choose a sorting method:</label>
  <select name="sorting" id="sorting">
      <option value="id">id</option>
      <option value="freq">Frequency</option>
      <option value="coh">Coherence</option>
  </select>

  <label for="order">Choose ascending or descending:</label>
  <select name="order" id="order">
      <option value="ascending">ascending</option>
      <option value="descending">descending</option>
  </select>

</form>
</html>
