<!DOCTYPE html>
<html>
<h2>Lines Matching Search Results: </h2>

<head>
    <title>Fscans Line Results</title>
    <meta charset = "UTF-8">
</head>

<body>
    <p></p>
    <a href="<PROGRAM DIRECTORY>/download">Download Results</a>
    <p></p>
</body>

<b><p style="color:red">{{ warning }}</p></b>

<table class="sortable">
    <thead>
        <tr>
            <th>
            Run
            </th>
            <th>
            Observatory
            <th>
            Week
            </th>
            <th>
            Channel
            </th>
            <th>
            Frequency
            </th>
            <th>
            Coherence
            </th>
        </tr>
    </thead>
    <tbody></tbody>
        {% for line in dlines %}
        <tr class="item">
        <td>
            {{ line.run }}
        </td>
            <td>
            {{ line.obs }}
        </td>
        <td>
            {{ line.week }}
        </td>
        <td>
            {{ line.channel }}
        </td>
        <td>
            {{ line.freq }}
        </td>
        <td>
            {{ line.coh }}
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</html>
