<!DOCTYPE html>
<html>
{% from "_formhelper.html" import render_field %}

<head>
  <title>Fscans Line Search</title>
  <meta charset = "UTF-8">
</head>

<h2>Fscans Line Search:</p></h2>

<b><p style="color:red">{{ errormessage }}</p></b>
<i><p style="color:red">{{ helpmessage }}</p></i>

<form method=post>
  <b>Choose a temporal range:</b>
  <br><input type="radio" id="Weekly" name="range" value="Weekly">
  <label for="Weekly">Weekly</label>
  <input type="radio" id="Monthly" name="range" value="Monthly">
  <label for="Monthly">Monthly</label><br>

  <br><b>Choose an observatory:</b>
  <br><input type="checkbox" id="H1" name="H1" value="H1">
  <label for="H1"> Hanford, WA (H1)</label><br>
  <input type="checkbox" id="L1" name="L1" value="L1">
  <label for="L1"> Livingston, LA (L1)</label><br>

  <br><label for="run">Choose a run:</label>
  <select name="run" id="run">
      <option value="ER14">ER14</option>
      <option value="O3A">O3A</option>
      <option value="O3B">O3B</option>
  </select>
  
    <dl>
      <table>
      <placeholder>Date format: YYYY/MM/DD</placeholder><br><br>
      {{ render_field(form.stDate) }}
      {{ render_field(form.endDate) }}
      {{ render_field(form.channel) }}
      {{ render_field(form.frequb) }}
      {{ render_field(form.freqlb) }}
      {{ render_field(form.cohub) }}
      {{ render_field(form.cohlb) }}
      </table>
    </dl>
    <p><input type=submit value=Search></p>
  
  <label for="sorting">Choose a sorting method:</label>
  <select name="sorting" id="sorting">
      <option value="id">id</option>
      <option value="freq">Frequency</option>
      <option value="coh">Coherence</option>
  </select>

  <label for="order">Choose ascending or descending:</label>
  <select name="order" id="order">
      <option value="ascending">ascending</option>
      <option value="descending">descending</option>
  </select>

</form>

<h3>What is this?</h3>
This is a tool used to parse through, filter, and present relevant long-term coherence data collected by the LSC and produced by <a href = "https://egrove.olemiss.edu/etd/756/">fscan</a>.</br>
This tool is built in Flask by members of Jay Tasson's research group at <a href="https://carleton.edu">Carleton College.</a>

<h3>What do each of these fields do?</h3>
<b>Observatory:</b> This field filters the observatory the searched data comes from--either H1 (Hanford, WA) or L1 (Livingston, LA). Data from both observatories are shown by default.</br>
<b>Run:</b> This field filters the detector run the searched data comes from. Right now, the only available data comes from observing run O3, which took place in three parts: <i>ER14</i> (2019-03-01 to 2019-04-01), <i>O3A</i> (2019-04-01 to 2019-10-01), and <i>O3B</i> (2019-11-01 to 2020-03-28). Once O4 starts (<a href="https://www.ligo.org/scientists/GWEMalerts.php">proj: June 2022</a>), the database will be updated with new data as it comes in.</br>
<b>Date range:</b> This field bounds the start and end date the searched data comes from. By default, data from all times are shown, and are sorted by week.</br>
<b>Channel:</b> This field filters the detector channels the searched data comes from. By default, data from all auxiliary channels are shown.</br>
<b>Frequency:</b> These fields bound the frequency of the searched data. By default, all frequencies are shown. Frequencies of data in this database range from 0Hz to 2000Hz.</br>
<b>Coherence:</b> These fields bound the coherence of the searched data when compared to the main gravitational wave channel. By default, all coherences above 0.95 are shown. Coherences higher than 0.95 are typically regarded as "significant" coherences. This database currently does not contain any lines with insignificant coherences. Read more about coherence <a href="https://en.wikipedia.org/wiki/Coherence_(physics)">here.</a></br> 

<h3>Where can I see more?</h3>
<b>Contact us:</b></br>
Jay Tasson: jtasson@carleton.edu</br>
Larry Donahue: donahuel@carleton.edu</br>
Malachy Bloom: bloomm@carleton.edu</br>
Michael Yang: yangm4@carleton.edu</br></br>

<b><a href="https://github.com/donahuel/linefinder-interface">Fork us on GitHub!</a></b></br>
</html>
